.container {
  margin: auto;
  margin-top: 10%;
  max-width: 700px;
}

.section {
  background-color: gray;
}

h1 {
  text-align: center;
  color: midnightblue;
}

h2 {
  text-align: center;
  color: #192734;
}

.task {
  margin-top: 2%;
  border-bottom: 5px solid lightsteelblue;
}

.modalBody {
  color: black;
}

.modalTitle {
  color: darkred;
}
